<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.altaria.file.mapper.SpaceMapper">
    <update id="updateSpace" parameterType="com.altaria.common.pojos.file.entity.Space">
        update space
        <set>
            <if test="use_space!= null">
                use_space = use_space + #{useSpace},
            </if>
            <if test="total_space!= null">
                total_space = total_space + #{totalSpace},
            </if>
            <if test="file_count!= null">
                file_count = file_count + #{fileCount},
            </if>
        </set>
        where uid = #{uid}
    </update>
</mapper>