<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.altaria.note.mapper.NoteMapper">
    <insert id="saveNote">
        INSERT INTO `note`(id, uid, cid, title, `text`, is_private)
        VALUES (#{id}, #{uid}, #{cid}, #{title}, #{text}, #{isPrivate})
    </insert>
    <update id="updateNote">
        UPDATE note
        <set>
            <if test="title!= null and title!= ''">
                title = #{title},
            </if>
            <if test="text != null and text != ''">
                `text` = #{text},
            </if>
            <if test="isPrivate!= null">
                is_private = #{isPrivate},
            </if>
            <if test="cid!= null">
                cid = #{cid},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id} and uid = #{uid}
    </update>
    <select id="selectNote" resultType="com.altaria.common.pojos.note.entity.Note">
        select * from note
        <where>
            <if test="id!= null">
                id = #{id}
            </if>
            <if test="uid!= null">
                and uid = #{uid}
            </if>
            <if test="cid!= null">
                and cid = #{cid}
            </if>
            <if test="cid == null">
                and cid is null
            </if>
            <if test="title != null">
                and title like concat('%',#{title},'%')
            </if>
            <if test="isPrivate != null">
                and is_private = #{isPrivate}
            </if>
        </where>
        order by update_time desc
    </select>
    <select id="getPublicNoteInfo" resultType="com.altaria.common.pojos.note.entity.NoteInfo">
        select n.*, COALESCE(c.name, '默认分组') AS category  from note n left join category c on n.cid = c.id where n.uid = #{uid} and n.is_private = 0;
    </select>
</mapper>