<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.altaria.share.mapper.ShareMapper">

    <resultMap id="shareResultMap" type="com.altaria.common.pojos.share.entity.Share">
        <id property="id" column="id" />
        <result property="uid" column="uid" />
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="fids" column="fids" typeHandler="com.altaria.share.handler.LongListTypeHandler" />
        <result property="visit" column="visit"/>
        <result property="expire" column="expire" />
        <result property="url" column="url" />
        <result property="sign" column="sign" />
        <result property="createTime" column="create_time" />
    </resultMap>


    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO share (id, uid, name, type, fids, expire, url, sign)
        values (#{id}, #{uid}, #{name}, #{type}, #{fids,typeHandler=com.altaria.share.handler.LongListTypeHandler}, #{expire}, #{url}, #{sign})
    </insert>
    <delete id="deleteByIds">
        DELETE FROM share
        WHERE uid = #{uid} AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="select" resultMap="shareResultMap">
        SELECT * from share
        <where>
            <if test="id!= null">
                id = #{id}
            </if>
            <if test="uid!= null">
                AND uid = #{uid}
            </if>
            <if test="sign!= null">
                AND sign = #{sign}
            </if>
            and expire > now()
        </where>
        order by create_time desc
    </select>
    <select id="getShareById" resultMap="shareResultMap">
        SELECT * FROM share WHERE id = #{shareId} AND expire > NOW()
    </select>
    <select id="getShareByIdBatch" resultType="com.altaria.common.pojos.share.entity.Share">
        SELECT * FROM share WHERE uid = #{uid} AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND expire > NOW()
    </select>
</mapper>